<div class="jumbotron limit">
  <h2>Welcome to Registration!</h2>
  <h3>Please Sign Up</h3>

  <!-- Register Form -->
  <form [formGroup]="userForm">

    <!-- email -->
    <div class="form-group">
      <label for="1">Email address</label>
      <input formControlName="email" id="1" class="form-control" type="email" placeholder="Enter email">
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
      <!-- checking -->
      <div *ngIf="!userForm.controls.email.valid && !userForm.controls.email.pristine" class="alert alert-danger">
        <span *ngIf="userForm.controls.email.errors.custom"> Incorrect email </span>
      </div>
    </div>


    <!-- both -->
    <fieldset formGroupName="passwords">

      <!-- password -->
      <div class="form-group">
        <label for="2">Password</label>
        <input formControlName="pwd" id="2" class="form-control" type="password" placeholder="Password">
        <!-- checking -->
        <div *ngIf="!userForm.controls.passwords.controls.pwd.valid && userForm.controls.passwords.controls.pwd.dirty"
          class="alert alert-danger">
          <span>Password length must be betwen 6 - 20</span>
        </div>
      </div>

      <!-- confirm password -->
      <div class="form-group">
        <label for="3">Password confirmation</label>
        <input formControlName="confirm" id="3" class="form-control input-lg" type="password"
          placeholder="Confirm Password">
        <small class="form-text text-muted">Password must be ...</small>
        <!-- checking -->
        <div
          *ngIf="!userForm.controls.passwords.controls.confirm.valid && userForm.controls.passwords.controls.confirm.dirty"
          class="alert alert-danger">
          <span>Password length must be betwen 6 - 20</span>
        </div>
        <div *ngIf="userForm.controls.passwords.errors && userForm.controls.passwords.controls.confirm.dirty" class="alert alert-danger"> Passwords are not equal </div>
      </div>
    </fieldset>

    <div class="form-group">
      <i class="mdi mdi-file-document-box-check"></i>
      <a class="alert-link" href=""> Conditions Document</a>
    </div>

    <div class="form-group ">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
        <label class="custom-control-label" for="customCheck1">I agree with conditions</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>


<div class="limit">
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
    content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>