extends ../../layout

block content
  include ../../includes/header.pug           

  main
    h1 bad data for 
      a(href='') freedom 
      | & 
      a(href='') power !
    
    section.limit-2.space
      br

      h3.c
        | Bad or obsolete data. Try the process from the beginning.
        br
      h3.c.o6
        | Не вірні або застарілі дані. Спробуйте процес з початку.


  include ../../includes/footer.pug

  //- script(src='js/lib/prism.js')  


