<app-nav></app-nav>

<div class="container lessons-content">

    <!-- <br>
    <div class="row">
        <button type="button" class="btn btn-primary">English</button>
        <button type="button" class="btn btn-secondary">Українською</button>
        <button type="button" class="btn btn-secondary">Русский</button>
    </div> -->

    <br>

    <div class="row">

        <div class="col-12  col-sm-12  col-md-6  col-lg-4  col-xl-3" *ngFor="let card of st.cards">
            <app-flip-card [card]="card"></app-flip-card>
        </div>

        <div class="PS" >
            <p>Хочеш ще уроків? Жми кнопку! Щоб я знав, скільком людям це потрібно.</p>
            <a class="btn btn-success" (click)="wantMoreLessons()" >ХОЧУ ЩЕ !!!</a>
            <!-- [routerLink]="['/want-more-lessons']" -->
        </div>

    </div>
</div>

<app-extra-alert [st]="st.alert"></app-extra-alert>

<app-clan-footer></app-clan-footer>