<app-nav></app-nav>

<div class="container main-content">
    <br>
    <div class="row">
        <ul>
            <h4>JS-CLAN:</h4>
            <li><a routerLink="/common/main">/common/main</a></li>
            <li><a routerLink="/lessons">Lessons</a></li>
            <li><a routerLink="/members">Members</a></li>
            <li><a routerLink="/training-apparatus">Training apparatus</a></li>
            <li><a routerLink="/cabinet">Cabinet</a></li>
            <li><a routerLink="/programmer-tips">Programmer tips</a></li>
            <li><a routerLink="/games/ar">games/ar</a></li>

            <h3>Ресурси:</h3>
            <h4>Для відео монтажу:</h4>
            <li><a routerLink="/video-samples">Video samples</a></li>
            <li><a routerLink="/free-sounds">Free sounds</a></li>

            <h4>AUTH:</h4>
            <li><a routerLink="/auth/register">Register</a></li>
            <li><a routerLink="/auth/conditions">Conditions</a></li>
            <li><a routerLink="/auth/login">Login</a></li>

            <h4>DEV:</h4>
            <li><a href="/all-users">Show all users</a></li>
            <li><a href="/user">Show user</a></li>
            <li><a href="/clean">Remove all users</a></li>
            <li><a href="/send-mail">Send meill to shadespiritenator@gmail.com</a></li>

        </ul>
    </div>
</div>

<!-- <app-extra-alert [st]="st.alert"></app-extra-alert> -->

<app-clan-footer></app-clan-footer>