<app-nav></app-nav>

<div class="container main-content">
    <br>

    <div class="sub-container cabinet-content sub-second">
        <h1 style="margin: 1em;">Lessons Flow:</h1>
        <app-cards-flow [videos]="st.lessonsFlow"></app-cards-flow>
    </div>

    
    <br>
    <br>
    <div class="row">
        <ul>
            <h4>JS-CLAN:</h4>
            <!-- <li><a routerLink="/training-apparatus">Training apparatus</a></li> -->
            <!-- <li><a routerLink="/programmer-tips">Programmer tips</a></li> -->
            <li><a routerLink="/games/ar">games/ar</a></li>
            <li><a routerLink="/training/step-a">/training/step-a</a></li>
        </ul>
    </div>


</div>

<!-- <app-extra-alert [st]="st.alert"></app-extra-alert> -->

<app-clan-footer></app-clan-footer>