<app-nav></app-nav>

<div class="container lessons-content">
    <br>
    <div class="row">
        <ul>
            <li><a routerLink="/common/main">/common/main</a></li>
            <li><a routerLink="/lessons">Lessons</a></li>
            <li><a routerLink="/members">Members</a></li>
            <li><a routerLink="/training-apparatus">Training apparatus</a></li>
        
            <h3>Ресурси:</h3>
            <h4>Для відео монтажу:</h4>
            <li><a routerLink="/video-samples">Video samples</a></li>
            <li><a routerLink="/free-sounds">Free sounds</a></li>

            <h4>AUTH:</h4>
            <li><a routerLink="/auth/register">Register</a></li>
            <li><a routerLink="/auth/conditions">Conditions</a></li>
            <li><a routerLink="/auth/login">Login</a></li>


        </ul>
    </div>
</div>

<!-- <app-extra-alert [st]="st.alert"></app-extra-alert> -->

<app-clan-footer></app-clan-footer>
