// main
.container
  margin-top: 6em
.PS
  margin: 1em auto 2em auto
  text-align: center
    
    
.table-form
    width: 100%
td
    vertical-align: middle


.search
    background: #0000
    // border-bottom: 1px solid rgba(0,0,0,0.15)

.mdi-account-search
    font-size: 2em
    color: #df691a

.mdi-github-circle
    font-size: 2em
    cursor: pointer
    &:hover
        opacity: .7

.custom-select
    background-color: #818a8f
    color: black