<app-nav></app-nav>

<div class="container login-content">

  <div class="jumbotron limit">

    <h3 class="title">Login</h3>

    <!-- Login Form -->
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

      <!-- username -->
      <!-- <div class="form-group">
        <label for="1">Username</label>
        <input formControlName="username" id="0" class="form-control" type="email" placeholder="Enter username"> -->
      <!-- validation -->
      <!-- <app-form-validator [it]="username"></app-form-validator>
      </div>     -->

      <!-- email -->
      <div class="form-group">
        <label for="1">Email address</label>
        <input formControlName="email" id="1" class="form-control" type="email" placeholder="Enter email">
        <!-- validation -->
        <app-form-validator [it]="email"></app-form-validator>
      </div>

      <!-- both -->
      <fieldset formGroupName="passwords">

        <!-- password -->
        <div class="form-group">
          <label for="2">Password</label>
          <input formControlName="pwd" id="2" class="form-control" type="password" placeholder="Password">
          <!-- validation -->
          <app-form-validator [it]="pwd"></app-form-validator>
        </div>

        <!-- mix validation: confirm, passwords -->
        <!-- equal -->
        <div *ngIf=" !confirm.pristine && passwords.errors && passwords.errors.itemsAreEqual"
          class="alert alert-danger">
          {{passwords.errors.itemsAreEqual.msg}}
        </div>

      </fieldset>

      <div class="btn-panel">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

      <a href="/api/auth/facebook">Login via Facebook </a>
      <br>
      <a href="/api/auth/google">Login via Google </a>
      <br>
      <span>or</span>
      <br>
      <a [routerLink]="['/auth/register']" class="register">Register !!!</a>


    </form>

  </div>

  <button (click)="fill()" class="btn btn-secondary">Fill</button>

  <br>
  <br>
  <a href="/admin">To Admin Page </a>

</div>

<app-extra-alert [st]="st.alert"></app-extra-alert>

<app-clan-footer></app-clan-footer>