<div class="wrap" (touchstart)="fireStart()" (touchend)="fireEnd()">


  <div class="ui">
    <button id="showVideo">Open camera</button>
  </div>


  <a-scene>

    <a-camera>
      <a-entity id="marker" position="0 0 -50"></a-entity>
    </a-camera>


<!-- 
    <a-assets>
      <a-asset-item id="tree" src="assets/js-clan/3d/biotronican_crab_head_c1/scene.gltf"></a-asset-item>
    </a-assets>
    <a-entity gltf-model="#tree" position="-10 0.5 -20"  scale="10 10 10"></a-entity> -->



    <!-- <a-entity position="-10 0.5 -30"  gltf-model="url(assets/js-clan/3d/buster_drone/scene.gltf)"></a-entity> -->
    <!-- <a-entity position="-10 0.5 -30"  gltf-model="url(assets/js-clan/3d/eye_monster_animation/scene.gltf)"></a-entity> -->
    <!-- <a-entity position="-10 0.5 -2000"  gltf-model="url(assets/js-clan/3d/procedural_eye/scene.gltf)"></a-entity> -->
    <a-entity id="tgg" position="-10 0.5 -20"  scale="10 10 10" gltf-model="url(assets/js-clan/3d/biotronican_crab_head_c1/scene.gltf)"></a-entity>

    

    <a-box position="-10 0.5 -30" rotation="0 45 0" color="rgb(44, 57, 44)" shadow></a-box>

    <a-sphere position="1 1.25 -50" radius="1.25" color="rgb(44, 57, 44)" shadow></a-sphere>

    <a-cylinder position="10 0.75 -30" radius="0.5" height="1.5" color="rgb(44, 57, 44)" shadow></a-cylinder>
    <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="rgba(2, 10, 2, 0.1);" transparent="true"
      opacity="0.1" shadow></a-plane>

  </a-scene>



  <video id="gum-local" autoplay playsinline></video>


</div>

<!-- (click)="info('click')" (touchstart)="info('touchstart')" (touchend)="info('touchend')" -->