.wrap 
    background: rgb(2, 10, 2)

a-scene
    z-index: 3333
    height: 100%


.ui 
    z-index: 9999
    position: fixed
    top: 0
    background: hsla(0, 0%, 0%, 0.28)
    padding: 1em
    color: gray
    .info
        color: lightgreen


video 
    z-index: 3
    width: 100%
    position: fixed
    top: 0

body
    height: 100%
    z-index: 1

