<div class="wrap" >


    <div class="ui" >
        <button id="showVideo">Open camera</button>
      </div>
    
      
      <a-scene >
        <a-box position="-1 0.5 -3" rotation="0 45 0" color="rgb(44, 57, 44)" shadow></a-box>
        <a-sphere position="0 1.25 -5" radius="1.25" color="rgb(44, 57, 44)" shadow></a-sphere>
        <a-cylinder position="1 0.75 -3" radius="0.5" height="1.5" color="rgb(44, 57, 44)"  shadow></a-cylinder>
        <a-plane position="0 0 -4" rotation="-90 0 0" width="4" height="4" color="rgba(2, 10, 2, 0.38);" transparent="true" opacity="0.5" shadow></a-plane>
      </a-scene>
    
    
    
      <video id="gum-local" autoplay playsinline></video>


</div>