extends ../layout
block content
  include ../includes/header.pug           
  main
  
    h1 About the start of the project

    section.limit-2.space
      br
      br
      p.t.text-bg(
        data-en="Based on a set of my competencies and values, I came to a decision on the creation and development of this resource."  
        data-ua="Виходячи з набору своїх компетенцій і цінностей я прийшов до рішення про створення і розвиток данного ресурсу.")


  include ../includes/footer.pug




