extends ../layout
block content
  style.
    .react{
      border: solid 1px black;
      background: brown;
    }
  include ../includes/header.pug           
  main

    br
    br

  
    h1.t(data-en="members "  data-ua=" чени спільноти" )
    h1
      span.o4 of 
        a(href='') freedom 
        | & 
        a(href='') power !
    
    section.limit-2.space
      p
        br
        h2
            a(href='https://github.com/RomanPeredrii' target="_blank") Roman Peredrii
        br
        h2
            a(href='https://github.com/5Mountains' target="_blank") Vladyslav Piatyhor

        



  include ../includes/footer.pug

  script(src='https://cdnjs.cloudflare.com/ajax/libs/react/16.7.0-alpha.2/umd/react.production.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.7.0-alpha.2/umd/react-dom.production.min.js')



  
  

  //script(src='https://unpkg.com/react@16.8/umd/react.production.min.js')
  //script(src='https://unpkg.com/react-dom@16.8/umd/react-dom.production.min.js')
  script(src='https://unpkg.com/babel-standalone@6.26.0/babel.js')
  script(type='text/babel' src="_pages/programs/_programs.js").