<div class="wrap">
    <div class="member-img">
        <img src="https://www.dccomics.com/sites/default/files/gettoknow_firestorm_55f21ee244cb23.64798555.png" alt="">
    </div>
    <div class="member-info">
        <h3>Coder #3</h3>
        <h4>Some information</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores esse impedit ea molestiae. Maxime nobis repellat explicabo inventore facere, totam dignissimos eligendi nisi architecto asperiores dolor qui laboriosam repudiandae vel!
        Eligendi quisquam accusantium hic, aliquam ut iure ipsum et officia eius quae. Aliquam suscipit dicta numquam iure sed consequatur quo ipsam, molestiae, quia, quasi error. Sunt sequi omnis soluta mollitia?
        Autem vitae magni laudantium sapiente earum excepturi tenetur quia accusamus unde, fugiat consequatur incidunt dicta porro ad nulla a? Ea iure aspernatur, ex qui doloremque nulla tempore distinctio ut. Iste!</p>
        <code>
                import log  from '../../../../my_modules/stuff';<br>
                @Component(<br>
                  selector: 'app-about-us',<br>
                  templateUrl: './about-us.component.html',<br>
                  selector: 'app-about-us',<br>
                  templateUrl: './about-us.component.html',<br>
                  styleUrls: ['./about-us.component.sass'])<br>
        </code>
        <h4>Some important information</h4>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur sapiente animi velit nemo necessitatibus suscipit quo saepe. Culpa animi recusandae consectetur? Earum a, magnam non officiis sint nisi aut fugiat.
        Corrupti molestiae architecto blanditiis odio ut fugiat, saepe nobis vero enim iusto nesciunt veritatis voluptatibus. Eum commodi accusantium tempore iusto quas illo. Dolor fugiat nemo exercitationem eos deleniti obcaecati esse.
        Nulla quisquam necessitatibus eius eos maxime fuga sequi, hic illo totam corporis cum recusandae dignissimos, quam aut ipsam aperiam officiis modi expedita facilis velit commodi, vel optio ipsa? Rem, tempora.
        Voluptatum ratione vero eos, delectus omnis ut pariatur quam, aut quisquam in modi repellat repudiandae quo culpa nobis similique rerum? Voluptates tempore quis neque veniam nihil, doloribus eius numquam in!</p>
        <div class="member-code">
                <code>
                        import log  from '../../../../my_modules/stuff';<br>
                        @Component(<br>
                          selector: 'app-about-us',<br>
                          templateUrl: './about-us.component.html',<br>
                          styleUrls: ['./about-us.component.sass'])<br>
                    </code>
                    <code>
                        import log  from '../../../../my_modules/stuff';<br>
                        @Component(<br>
                          selector: 'app-about-us',<br>
                          templateUrl: './about-us.component.html',<br>
                          styleUrls: ['./about-us.component.sass'])<br>
                    </code>
        </div>
        <h4>Some very important information</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus ut porro doloremque consequatur. Animi necessitatibus amet sint voluptatibus, ex nihil dolorem saepe quasi odit doloribus, labore error earum veritatis distinctio.
        Deserunt iste laborum ex quisquam maiores quos magnam amet? Illum quos iusto ea corporis quo fugiat porro, nesciunt quod reprehenderit, consectetur quasi officiis illo totam ipsum nobis! Omnis, velit dolores.
        Quaerat assumenda maiores natus eius provident repellendus commodi quam harum a laudantium quasi, tempore culpa. Unde molestiae nihil at nemo libero itaque, quas quae consequuntur? A adipisci quos quae cum?
        Quisquam aut reprehenderit sit deserunt corporis dolorum fugit! Perferendis nostrum eligendi maxime aliquam cumque quibusdam quae accusamus. Vero sit doloremque odit molestias ullam maxime nostrum corrupti error reprehenderit, laborum commodi!
        Atque unde ipsa fuga voluptatibus esse ea? Eveniet praesentium expedita obcaecati natus! Voluptatem assumenda sint ut, vel corrupti at rem, consectetur eum consequatur impedit esse ea, itaque similique officia fuga.</p>
        <code>
                import log  from '../../../../my_modules/stuff';<br>
                import log  from '../../../../my_modules/stuff';<br>
                import log  from '../../../../my_modules/stuff';<br>
                @Component(<br>
                  selector: 'app-about-us',<br>
                  templateUrl: './about-us.component.html',<br>
                  selector: 'app-about-us',<br>
                  templateUrl: './about-us.component.html',<br>
                  selector: 'app-about-us',<br>
                  templateUrl: './about-us.component.html',<br>
                  styleUrls: ['./about-us.component.sass'])<br>
        </code>
        <h4>Some the molestiae important information</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae ullam labore corporis ut illo incidunt, voluptates dolor atque quibusdam eaque magnam quia omnis eveniet accusantium laboriosam error dolore quaerat odio.Eaque aut, magnam optio nulla nam eveniet assumenda corporis eius accusantium placeat deleniti vero accusamus quaerat. Repudiandae repellendus dignissimos explicabo accusamus reprehenderit cumque quod esse nam. Minus dolorem voluptatibus expedita.</p>
        <button type="button" class="btn btn-success">Look github<i class="mdi mdi-arrow-right"></i></button>
        <br>
    </div>
</div>