.wrap 
    margin: 0 5em

.member-img
    text-align: center
    width: 50%
    margin: 2em
    img
        width: 100%

.member-info
    display: flex
    flex-direction: column
    align-items: center

.member-code
    display: flex

code    
    margin: 2em

.about 
    display: flex
    justify-content: space-around
    align-items: center

.right
    div
        margin: 2em