extends ../layout
block content
  include ../includes/header.pug           
  main
  
    h1 ***
    
    section.limit-2.space
      p
        br
        a(href='***' target="_blank") ***

      //- iframe( width="800" height="400"  src="***" align="left")



  include ../includes/footer.pug




