extends ../layout
block content
  include ../includes/header.pug           
  main
  
    h1 for node VPN project

    section.limit-2.space
      p
        br

        | 111:
        br
        br
        a(href='https://serveradmin.ru/nastroyka-iptables-v-centos-7/' target="_blank") iptables в CentOS 7
        br
        a(href='http://www.rhd.ru/docs/manuals/enterprise/RHEL-3-Manual/rhel-sg-ru-3/s1-firewall-ipt-basic.html' target="_blank") Типичные фильтры iptables

        br
        br
        a(href='https://www.cyberciti.biz/faq/show-all-running-processes-in-linux/' target="_blank") Show All Running Processes 

        br
        br
        a(href='https://www.digitalocean.com/community/tutorials/how-to-install-git-on-centos-7' target="_blank") How To Install Git on CentOS 7 

        br
        br
        a(href='https://www.liquidweb.com/kb/how-to-install-nvm-node-version-manager-for-node-js-on-centos-7/' target="_blank") How to Install NVM (Node Version Manager) for Node.js on CentOS 7

        br
        br
        a(href='https://www.youtube.com/watch?v=dI2VqY9EYOw' target="_blank") How to install MongoDB on CentOS
        br
        a(href='https://www.youtube.com/watch?v=w0oZ-HNneV4' target="_blank") Установка MongoDB на Centos 7

        br
        br
        a(href='http://qaru.site/questions/18084/how-to-run-process-as-background-and-never-die' target="_blank") Как запустить Node.js в качестве фонового процесса и не умереть?

        br
        br
        a(href='https://metanit.com/nosql/mongodb/1.2.php' target="_blank") Установка и начало работы с MongoDB на Windows


  include ../includes/footer.pug




