extends ../layout
block content
  include ../includes/header.pug           
  main
  
    h1 image of future
    
    section.limit-2.space
      p
        br
        iframe(src='https://www.youtube.com/embed/vjF9GgrY9c0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='', width='560', height='315', frameborder='0')

        //- a(href='https://habr.com/post/418923/' target="_blank") article on "habr"

      //- iframe( width="800" height="400"  src="https://habr.com/post/418923/" align="left")



  include ../includes/footer.pug




