extends ../layout
block content
  include ../includes/header.pug           
  main
  
    h1 sms-bomber

    section.limit-2.space
      p
        br
        //- a(href='/_draft/sms-bomber') sms BOMBER

      iframe( width="800" height="400"  src="https://youpartner.pro/load/programmy/programmy_dlja_spama/sms_bomber_programma_dlja_spama_soobshhenijami_na_telefon/18-1-0-23" align="left")



  include ../includes/footer.pug




