extends ../layout
block content
  include ../includes/header.pug           
  main
  
    h1 ***
    
    section.limit-2.space
      p
        br
        a(href='http://pronets.ru/kak-besplatno-dobavit-ssl-tls-sertifikat-i-https-protokol-na-sajt/' target="_blank") Как бесплатно добавить SSL/TLS сертификат и HTTPS протокол на сайт

        br
        br
        a(href='https://www.youtube.com/watch?v=3Iv078ZHd7Y' target="_blank") Video: Как получить бесплатный сертификат SSL от Let’s Encrypt самостоятельно

        br
        br
        a(href='***' target="_blank") ***

      //- iframe( width="800" height="400"  src="***" align="left")



  include ../includes/footer.pug




