extends ../layout
block content
  include ../includes/header.pug           
  main
  
    h1 text-selection

    
    section.limit-2.space
      p
        br
        a(href='http://cp77.comxa.com/javascript/how-paste-quote' target="_blank") source 1
        br
        a(href='https://www.internet-technologies.ru/articles/javascript-selections-rabota-s-vydeleniyami.html' target="_blank") source 2
        br
        a(href='http://qaru.site/questions/116751/how-to-get-selected-html-text-with-javascript' target="_blank") source 3


      //- iframe( width="800" height="400"  src="http://cp77.comxa.com/javascript/how-paste-quote" align="left")



  include ../includes/footer.pug




