<app-nav></app-nav>

<div class="container lessons-content">

    <!-- <br>
    <div class="row">
        <button type="button" class="btn btn-primary">English</button>
        <button type="button" class="btn btn-secondary">Українською</button>
        <button type="button" class="btn btn-secondary">Русский</button>
    </div> -->

    <br>

    <div class="row">
        <h1 class="с">Твій голос враховано!</h1>


<!-- 
        <div class="PS" >
            <p>Хочеш ще уроків? Жми кнопку! Щоб я знав, скільком людям це потрібно.</p>
            <a class="btn btn-success" [routerLink]="['/want-more-lessons']">ХОЧУ ЩЕ !!!</a>
        </div> -->

    </div>
</div>


<!-- <app-extra-alert [st]="st.alert"></app-extra-alert> -->

<app-clan-footer></app-clan-footer>