.container
    // padding-top: 9em
    min-height: 100vh

    
.PS
    margin: 1em auto 2em auto
    text-align: center

.user-card
    text-align: center


dl 
    p 
        display: flex
        justify-content: space-evenly
        dt 
            opacity: .5
        dd 
            .badge
                margin: 0 0 0 .5em

.jumbotron 
    padding: 2rem 2rem                