<app-nav></app-nav>
<app-night-sky></app-night-sky>

<div class="container lessons-content">

    <!-- <br>
    <div class="row">
        <button type="button" class="btn btn-primary">English</button>
        <button type="button" class="btn btn-secondary">Українською</button>
        <button type="button" class="btn btn-secondary">Русский</button>
    </div> -->

    <br>



    <!-- UN LOGGED -->
    <div *ngIf="!st.user.isLogged" class="jumbotron user-card">
        <h1 class="">You are not logged!!</h1>
        <img style="height: 200px; width: 100%; display: block;" src="assets/js-clan/img/anonymous.svg" alt="Anonymous">
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" [routerLink]="['/auth/login']" role="button">Login</a>
            <!-- <a [routerLink]="['/members']">MEMBERS</a> -->
        </p>
        <div class="modal-body">
            <p>Modal body text goes here.</p>
        </div>
    </div>


    <!-- LOGGED -->
    <div *ngIf="st.user.isLogged" class="jumbotron user-card">
        <h1 class="">Hello, <b class="text-primary">{{st.user.username}}!</b></h1>
        <img style="height: 200px; width: 100%; display: block;" src="assets/js-clan/img/anonymous.svg" alt="Anonymous">

        <hr class="my-4">
        <dl>
            <!-- Email -->
            <p>
                <dt>Email:</dt>
                <dd>
                    <b>{{st.user.email}}</b>
                    <sup class="badge">
                        <span *ngIf="st.user.email_verif" class="badge badge-pill badge-success">Verified</span>
                        <span *ngIf="!st.user.email_verif" class="badge badge-pill badge-danger">Not verified</span>
                    </sup>
                </dd>
                <dd>
                    <button *ngIf="!st.user.email_verif" type="button" class="btn btn-outline-info btn-sm">Send
                        mail</button>
                </dd>
            </p>
            <p>
                <dt>Email:</dt>
                <dd>
                    <b>{{st.user.email}}</b>
                    <sup class="badge">
                        <span *ngIf="st.user.email_verif" class="badge badge-pill badge-success">Verified</span>
                        <span *ngIf="!st.user.email_verif" class="badge badge-pill badge-danger">Not verified</span>
                    </sup>
                </dd>
            </p>
            <p>
                <!-- Facebook -->
                <a href="/api/auth/facebook"> <i class="social mdi mdi-facebook" aria-hidden="true"
                        title="Connection with facebook"></i> </a>
                <!-- Google -->
                <a href="/api/auth/google"> <i class="social mdi mdi-google" aria-hidden="true"
                        title="Connection with google"></i> </a>

            </p>
        </dl>

        <hr class="my-4">
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>

        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>

        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Title</h3>
        </div>
        <div class="col-12  col-sm-12  col-md-6  col-lg-4  col-xl-3" *ngFor="let item of [1,2,3]">
            <div class="user-info">
                Block: {{item}}
            </div>
            <!-- <app-flip-card [card]="card"></app-flip-card> -->
        </div>
    </div>

    <br>
    <br>


</div>

<app-extra-alert [st]="st.alert"></app-extra-alert>

<app-clan-footer></app-clan-footer>