<div class="stars-wrapper">

    <svg  *ngFor="let times of [1,2,3]" class="stars" width="100%" height="100%" preserveAspectRatio="none">
        <circle *ngFor="let star of allStars" class="star" [attr.cx]="star.cx" [attr.cy]="star.cy" [attr.r]="star.r"></circle>
    </svg>

    <svg class="extras" width="100%" height="100%" preserveAspectRatio="none">
        <defs>
          <radialGradient id="comet-gradient" [attr.cx]="0" [attr.cy]=".5" [attr.r]="0.5">
            <stop offset="0%" stop-color="rgba(255,255,255,.8)"></stop>
            <stop offset="100%" stop-color="rgba(255,255,255,0)"></stop>
          </radialGradient>
        </defs>
        <g transform="rotate(-135)">
          <ellipse class="comet comet-a" fill="url(#comet-gradient)" [attr.cx]="0" [attr.cy]="0" [attr.rx]="150" [attr.ry]="2"></ellipse>
        </g>
        <g transform="rotate(20)">
          <ellipse class="comet comet-b" fill="url(#comet-gradient)" [attr.cx]="'100%'" [attr.cy]="0" [attr.rx]="150" [attr.ry]="2"></ellipse>
        </g>
        <g transform="rotate(300)">
          <ellipse class="comet comet-c" fill="url(#comet-gradient)" [attr.cx]="'40%'" [attr.cy]="'100%'" [attr.rx]="150" [attr.ry]="2"></ellipse>
        </g>
      </svg>
      
    

</div>