extends ../../layout
block content
  include ../../includes/header.pug           
  main
  
    h1.t(data-en="rozvivalka"  data-ua="розвивалка" )

      //- span.o4 for 
      //-   a(href='') freedom 
      //-   | & 
      //-   a(href='') power !

    
    section.limit-2.space
      p
        br
        a(href='/programs/rozvivalka/rozvivalka-app') to app 
        //- br
        //- a(href='/draft/sms-bomber') sms BOMBER
        //- br
        //- a(href='/draft/pwa') PWA
        //- br
        //- a(href='/draft/text-selection') text selection
        //- br
        //- a(href='/draft/code-on-mobile') site code on mobile device
        //- br
        //- a(href='/draft/hacks') HACKS
        //- br
        //- a(href='/draft/image-of-future') image of future
        //- br
        //- a(href='/draft/for-node-vpn-pr') for node VPN project

        







  include ../../includes/footer.pug




