
.navbar-collapse
    transition: .5s

.prepare
    overflow: visible
    display: block
    @media screen and (max-width: 992px)
        height: 0
        overflow: hidden
        

.opening
    @media screen and (max-width: 992px)
        height: 500px

.opened
    height: fit-content  

.collapsing
    height: 0    


.dropdown-menu
    @media (min-width: 992px)
        position: absolute