<app-nav></app-nav>

<div class="container login-content">

  <div class="">
    <div class="scene">

      <div class="top">
        <h3 class="title">Training: A <button class="btn btn-primary speak-btn" (click)="speak()"><i class="mdi mdi-volume-high"></i></button></h3>
        <div class="question">{{questions[currentQuestion].question}}</div>
        <!-- <button (click)="startButton($event)">Listening is: {{speech.talking}}</button> -->
        
        <!-- <p class="message">Uses the <a href="https://dvcs.w3.org/hg/speech-api/raw-file/tip/speechapi.html#tts-methods"
            target="_blank">Web Speech API</a> (works in Chrome)</p> -->
      </div>

      <img class="millionaire" src="assets/training-apparatus/step-a/img/millionaire.png" alt="">
      <div class="answer an-1">{{questions[currentQuestion].answers[0]}} </div>
      <div class="answer an-2">{{questions[currentQuestion].answers[1]}} </div>
      <div class="answer an-3">{{questions[currentQuestion].answers[2]}} </div>
      <div class="answer an-4">{{questions[currentQuestion].answers[3]}} </div>
    </div>
  </div>

</div>

<!-- <app-extra-alert [st]="st.alert"></app-extra-alert> -->

<app-clan-footer></app-clan-footer>