<app-nav></app-nav>

<div class="container login-content">

  <div class="">
    <div class="scene">
      <h3 class="title">Training: A</h3>
      <div class="question">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime facilis nesciunt quaerat maiores vel soluta, magnam id quisquam deserunt architecto incidunt exercitationem laboriosam nostrum quasi quia obcaecati corporis facere. Eligendi!</div>
      
      <img class="millionaire" src="assets/training-apparatus/step-a/img/millionaire.png" alt="">
      <div class="answer an-1">asd sefkjdh jksddfh sdkjfjk </div>
      <div class="answer an-2">asd sefkjdh jksddfh sdkjfjk </div>
      <div class="answer an-3">asd sefkjdh jksddfh sdkjfjk </div>
      <div class="answer an-4">asd sefkjdh jksddfh sdkjfjk </div>
    </div>
  </div>


</div>

<!-- <app-extra-alert [st]="st.alert"></app-extra-alert> -->

<app-clan-footer></app-clan-footer>