footer
    p
        | © JS-CLAN 2018-2019, created by 
        a(href='https://spiriturban.github.io/') Dyachuk Vitaliy
        |  from 
        a(href='https://www.js-clan.com/') JS-CLAN
        | .