<div class="jumbotron limit">

    <h3 class="title">Registration</h3>
  
    <!-- Register Form -->
    <form [formGroup]="userForm">
  
      <!-- email -->
      <div class="form-group">
        <label for="1">Email address</label>
        <input formControlName="email" id="1" class="form-control" type="email" placeholder="Enter email">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        <!-- validation -->
        <app-form-validator [it]="email"></app-form-validator>
      </div>
  
      <!-- both -->
      <fieldset formGroupName="passwords">
  
        <!-- password -->
        <div class="form-group">
          <label for="2">Password</label>
          <input formControlName="pwd" id="2" class="form-control" type="password" placeholder="Password">
          <!-- validation -->
          <app-form-validator [it]="pwd"></app-form-validator>
        </div>
  
        <!-- confirm password -->
        <div class="form-group">
          <label for="3">Password confirmation</label>
          <input formControlName="confirm" id="3" class="form-control input-lg" type="password"
            placeholder="Confirm Password">
          <small class="form-text text-muted">Password must be at 6 to 20 characters long.</small>
          <!-- validation -->
          <app-form-validator [it]="confirm"></app-form-validator>
        </div>
  
        <!-- mix validation: confirm, passwords -->
        <!-- equal -->
        <div *ngIf=" !confirm.pristine && passwords.errors && passwords.errors.itemsAreEqual" class="alert alert-danger">
          {{passwords.errors.itemsAreEqual.msg}}
        </div>
  
      </fieldset>
  
      <div class="form-group">
        <i class="mdi mdi-file-document-box-check"></i>
        <a class="alert-link" href=""> Conditions Document</a>
      </div>
  
      <div class="form-group ">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
          <label class="custom-control-label" for="customCheck1">I agree with conditions</label>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  
  </div>
  


  <!-- text -->
  <div class="limit">
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
      content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  </div>



<!-- other fields -->
<div class="jumbotron limit">

  <div class="form-group">
    <fieldset disabled="">
      <label class="control-label" for="disabledInput">Disabled input</label>
      <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
    </fieldset>
  </div>

  <div class="form-group">
    <fieldset>
      <label class="control-label" for="readOnlyInput">Readonly input</label>
      <input class="form-control" id="readOnlyInput" type="text" placeholder="Readonly input here…" readonly="">
    </fieldset>
  </div>

  <div class="form-group has-success">
    <label class="form-control-label" for="inputSuccess1">Valid input</label>
    <input type="text" value="correct value" class="form-control is-valid" id="inputValid">
    <div class="valid-feedback">Success! You've done it.</div>
  </div>

  <div class="form-group has-danger">
    <label class="form-control-label" for="inputDanger1">Invalid input</label>
    <input type="text" value="wrong value" class="form-control is-invalid" id="inputInvalid">
    <div class="invalid-feedback">Sorry, that username's taken. Try another?</div>
  </div>

  <div class="form-group">
    <label class="col-form-label col-form-label-lg" for="inputLarge">Large input</label>
    <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" id="inputLarge">
  </div>

  <div class="form-group">
    <label class="col-form-label" for="inputDefault">Default input</label>
    <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
  </div>

  <div class="form-group">
    <label class="col-form-label col-form-label-sm" for="inputSmall">Small input</label>
    <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="inputSmall">
  </div>

  <div class="form-group">
    <label class="control-label">Input addons</label>
    <div class="form-group">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        <div class="input-group-append">
          <span class="input-group-text">.00</span>
        </div>
      </div>
    </div>
  </div>

</div>