@import '~prismjs/plugins/toolbar/prism-toolbar.css'
@import '~prismjs/themes/prism-okaidia'

html
    background: #2d2d2d url(/assets/js-clan/img/bg.png) repeat

body 
    min-height: 100vh
        
.container
    // margin-top: 6em
    padding-top: 6em
    min-height: 100vh
    margin-bottom: 2em