<app-nav></app-nav>

<div class="container conditions-content">

    <!-- <br>
    <div class="row">
        <button type="button" class="btn btn-primary">English</button>
        <button type="button" class="btn btn-secondary">Українською</button>
        <button type="button" class="btn btn-secondary">Русский</button>
    </div> -->

    <br>
    <br>
    <div class="title">
        <h2>Захист персональних даних</h2>
    </div>

    <pre>
        <p>
            Я добровільно надаю згоду на обробку моїх персональних даних відповідно до Закону України "Про захист персональних даних".
             
            
            Положення про обробку і захист персональних даних у базах персональних даних, володільцем яких є продавець
            
            
            Зміст
            
            1. Загальні поняття та сфера застосування.
            
            2. Перелік баз персональних даних.
            
            3. Мета обробки персональних даних.
            
            4. Порядок обробки персональних даних: отримання згоди, повідомлення про права та дії з персональними даними суб'єкта персональних даних.
            
            5. Місцезнаходження бази персональних даних.
            
            6. Умови розкриття інформації про персональні дані третім особам.
            
            7. Захист персональних даних: способи захисту, відповідальна особа, працівники, які безпосередньо здійснюють обробку та/або мають доступ до персональних даних у зв’язку з виконанням своїх службових обов’язків, строк зберігання персональних даних.
            
            8. Права суб’єкта персональних даних.
            
             
            
            1. Загальні поняття та сфера застосування
            
             
            
            1.1. Визначення термінів:
            
            база персональних даних - іменована сукупність упорядкованих персональних даних в електронній формі та/або у формі картотек персональних даних;
            
            відповідальна особа – визначена особа, яка організовує роботу, пов'язану із захистом персональних даних при їх обробці, відповідно до закону;
            
            володілець бази персональних даних - фізична або юридична особа, якій законом або за згодою суб'єкта персональних даних надано право на обробку цих даних, яка затверджує мету обробки персональних даних у цій базі даних, встановлює склад цих даних та процедури їх обробки, якщо інше не визначено законом;
            
            Державний реєстр баз персональних даних - єдина державна інформаційна система збору, накопичення та обробки відомостей про зареєстровані бази персональних даних;
            
            загальнодоступні джерела персональних даних – довідники, адресні книги, реєстри, списки, каталоги, інші систематизовані збірники відкритої інформації, які містять персональні дані, розміщені та опубліковані з відома суб’єкта персональних даних.
            
            Не вважаються загальнодоступними джерелами персональних даних соціальні мережі та інтернет-ресурси, в яких суб’єкт персональних даних залишають свої персональні дані (окрім випадків, коли суб’єктом персональних даних прямо зазначено, що персональні дані розміщені з метою їх вільного поширення та використання);
            
            згода суб'єкта персональних даних - будь-яке документоване, добровільне волевиявлення фізичної особи щодо надання дозволу на обробку її персональних даних відповідно до сформульованої мети їх обробки;
            
            знеособлення персональних даних - вилучення відомостей, які дають змогу ідентифікувати особу;
            
            обробка персональних даних - будь-яка дія або сукупність дій, здійснених повністю або частково в інформаційній (автоматизованій) системі та/або в картотеках персональних даних, які пов'язані зі збиранням, реєстрацією, накопиченням, зберіганням, адаптуванням, зміною, поновленням, використанням і поширенням (розповсюдженням, реалізацією, передачею), знеособленням, знищенням відомостей про фізичну особу;
            
            персональні дані - відомості чи сукупність відомостей про фізичну особу, яка ідентифікована або може бути конкретно ідентифікована;
            
            розпорядник бази персональних даних - фізична чи юридична особа, якій володільцем бази персональних даних або законом надано право обробляти ці дані.
            
            Не є розпорядником бази персональних даних особа, якій володільцем та/або розпорядником бази персональних даних доручено здійснювати роботи технічного характеру з базою персональних даних без доступу до змісту персональних даних;
            
            суб'єкт персональних даних - фізична особа, стосовно якої відповідно до закону здійснюється обробка її персональних даних;
            
            третя особа - будь-яка особа, за винятком суб'єкта персональних даних, володільця чи розпорядника бази персональних даних та уповноваженого державного органу з питань захисту персональних даних, якій володільцем чи розпорядником бази персональних даних здійснюється передача персональних даних відповідно до закону;
            
            особливі категорії даних – персональні дані про расове або етнічне походження, політичні, релігійні або світоглядні переконання, членство в політичних партіях та професійних спілках, а також даних, що стосуються здоров'я чи статевого життя.
            
            1.2. Дане Положення обов’язкове для застосування відповідальною особою та співробітниками продавця, які безпосередньо здійснюють обробку та/або мають доступ до персональних даних у зв’язку з виконанням своїх службових обов’язків.
            
             
            
            2. Перелік баз персональних даних.
            
            2.1. Продавець є володільцем наступних баз персональних даних:
            
            - база персональних даних клієнти.
            
             
            
            3. Мета обробки персональних даних.
            
            3.1. Метою обробки персональних даних у системі є зберігання та обслуговування даних контрагентів, відповідно до статей 6, 7 Закону України "Про захист персональних даних":.
            
            3.2. Метою обробки персональних даних є забезпечення реалізації цивільно-правових відносин, надання/ отримання та здійснення розрахунків за придбані товари/послуги відповідно до Податкового кодексу України, Закону України «Про бухгалтерський облік та фінансову звітність в Україні».
            
             
            
            4. Порядок обробки персональних даних: отримання згоди, повідомлення про права та дії з персональними даними суб’єкта персональних даних.
            
            4.1. Згода суб'єкта персональних даних має бути добровільним волевиявленням фізичної особи щодо надання дозволу на обробку її персональних даних відповідно до сформульованої мети їх обробки. Згода суб'єкта персональних даних може бути надана у наступних формах:
            
            · документ на паперовому носії з реквізитами, що дає змогу ідентифікувати цей документ і фізичну особу;
            
            · електронний документ, який має містити обов'язкові реквізити, що дають змогу ідентифікувати цей документ та фізичну особу. Добровільне волевиявлення фізичної особи щодо надання дозволу на обробку її персональних даних доцільно засвідчувати електронним підписом суб'єкта персональних даних.
            
            · відмітка на електронній сторінці документа чи в електронному файлі, що обробляється в інформаційній системі на основі документованих програмно-технічних рішень.
            
            4.2. Згода суб’єкта персональних даних надається під час оформлення цивільно-правових відносин відповідно до чинного законодавства.
            
            4.3. Повідомлення суб’єкта персональних даних про включення його персональних даних до бази персональних даних, права, визначені Законом України «Про захист персональних даних», мету збору даних та осіб, яким передаються його персональні дані здійснюється під час оформлення цивільно-правових відносин відповідно до чинного законодавства.
            
            4.4. Обробка персональних даних про расове або етнічне походження, політичні, релігійні або світоглядні переконання, членство в політичних партіях та професійних спілках, а також даних, що стосуються здоров'я чи статевого життя (особливі категорії даних) забороняється.
            
             
            
            5. Місцезнаходження бази персональних даних.
            
            5.1. Вказані у розділі 2 цього Положення бази персональних даних знаходяться за адресою продавця.
            
             
            
            6. Умови розкриття інформації про персональні дані третім особам.
            
            6.1. Порядок доступу до персональних даних третіх осіб визначається умовами згоди суб'єкта персональних даних, наданої володільцю бази персональних даних на обробку цих даних, або відповідно до вимог закону.
            
            6.2. Доступ до персональних даних третій особі не надається, якщо зазначена особа відмовляється взяти на себе зобов'язання щодо забезпечення виконання вимог Закону України «Про захист персональних даних» або неспроможна їх забезпечити.
            
            6.3. Суб'єкт відносин, пов'язаних з персональними даними, подає запит щодо доступу (далі - запит) до персональних даних володільцю бази персональних даних.
            
            6.4. У запиті зазначаються:
            
            · прізвище, ім'я та по батькові, місце проживання (місце перебування) і реквізити документа, що посвідчує фізичну особу, яка подає запит (для фізичної особи - заявника);
            
            · найменування, місцезнаходження юридичної особи, яка подає запит, посада, прізвище, ім'я та по батькові особи, яка засвідчує запит; підтвердження того, що зміст запиту відповідає повноваженням юридичної особи (для юридичної особи - заявника);
            
            · прізвище, ім'я та по батькові, а також інші відомості, що дають змогу ідентифікувати фізичну особу, стосовно якої робиться запит;
            
            · відомості про базу персональних даних, стосовно якої подається запит, чи відомості про володільця чи розпорядника цієї бази;
            
            · перелік персональних даних, що запитуються;
            
            · мета запиту.
            
            6.5. Строк вивчення запиту на предмет його задоволення не може перевищувати десяти робочих днів з дня його надходження.
            
            Протягом цього строку володілець бази персональних даних доводить до відома особи, яка подає запит, що запит буде задоволене або відповідні персональні дані не підлягають наданню, із зазначенням підстави, визначеної у відповідному нормативно-правовому акті.
            
            Запит задовольняється протягом тридцяти календарних днів з дня його надходження, якщо інше не передбачено законом.
            
            6.6. Усі працівники володільця бази персональних даних зобов'язані додержуватися вимог конфіденційності щодо персональних даних та інформації щодо рахунків у цінних паперах та обігу цінних паперів.
            
            6.7. Відстрочення доступу до персональних даних третіх осіб допускається у разі, якщо необхідні дані не можуть бути надані протягом тридцяти календарних днів з дня надходження запиту. При цьому загальний термін вирішення питань, порушених у запиті, не може перевищувати сорока п'яти календарних днів.
            
            6.8. Повідомлення про відстрочення доводиться до відома третьої особи, яка подала запит, у письмовій формі з роз'ясненням порядку оскарження такого рішення.
            
            6.9. У повідомленні про відстрочення зазначаються:
            
            · прізвище, ім'я та по батькові посадової особи;
            
            · дата відправлення повідомлення;
            
            · причина відстрочення;
            
            · строк, протягом якого буде задоволене запит.
            
            6.10. Відмова у доступі до персональних даних допускається, якщо доступ до них заборонено згідно із законом.
            
            6.11. У повідомленні про відмову зазначаються:
            
            · прізвище, ім'я, по батькові посадової особи, яка відмовляє у доступі;
            
            · дата відправлення повідомлення;
            
            · причина відмови.
            
            6.12. Рішення про відстрочення або відмову із доступі до персональних даних може бути оскаржено до уповноваженого державного органу з питань захисту персональних даних, інших органів державної влади та органів місцевого самоврядування, до повноважень яких належить здійснення захисту персональних даних, або до суду.
            
             
            
            7. Захист персональних даних: способи захисту, відповідальна особа, працівники, які безпосередньо здійснюють обробку та/або мають доступ до персональних даних у зв’язку з виконанням своїх службових обов’язків, строк зберігання персональних даних.
            
            7.1. Володільця бази персональних даних обладнано системними і програмно-технічними засобами та засобами зв'язку, які запобігають втратам, крадіжкам, несанкціонованому знищенню, викривленню, підробленню, копіюванню інформації і відповідають вимогам міжнародних та національних стандартів.
            
            7.2. Відповідальна особа організовує роботу, пов'язану із захистом персональних даних при їх обробці, відповідно до закону. Відповідальна особа визначається наказом Володільця бази персональних даних.
            
            Обов’язки відповідальної особи щодо організації роботи, пов'язаної із захистом персональних даних при їх обробці зазначаються у посадовій інструкції.
            
            7.3. Відповідальна особа зобов’язана:
            
            · знати законодавство України в сфері захисту персональних даних;
            
            · розробити процедури доступу до персональних даних співробітників відповідно до їхніх професійних чи службових або трудових обов'язків;
            
            · забезпечити виконання співробітниками Володільця бази персональних даних вимог законодавства України в сфері захисту персональних даних та внутрішніх документів, що регулюють діяльність Володільця бази персональних даних щодо обробки і захисту персональних даних у базах персональних даних;
            
            · розробити порядок (процедуру) внутрішнього контролю за дотриманням вимог законодавства України в сфері захисту персональних даних та внутрішніх документів, що регулюють діяльність Володільця бази персональних даних щодо обробки і захисту персональних даних у базах персональних даних, який, зокрема, повинен містити норми щодо періодичності здійснення такого контролю;
            
            · повідомляти Володільця бази персональних даних про факти порушень співробітниками вимог законодавства України в сфері захисту персональних даних та внутрішніх документів, що регулюють діяльність Володільця бази персональних даних щодо обробки і захисту персональних даних у базах персональних даних у термін не пізніше одного робочого дня з моменту виявлення таких порушень;
            
            · забезпечити зберігання документів, що підтверджують надання суб’єктом персональних даних згоди на обробку своїх персональних даних та повідомлення вказаного суб’єкта про його права.
            
            7.4. З метою виконання своїх обов’язків відповідальна особа має право:
            
            · отримувати необхідні документи, у тому числі накази й інші розпорядчі документи, видані Володільцем бази персональних даних , пов’язані із обробкою персональних даних;
            
            · робити копії з отриманих документів, у тому числі копії файлів, будь-яких записів, що зберігаються в локальних обчислювальних мережах і автономних комп'ютерних системах;
            
            · брати участь в обговоренні виконуваних ним обов’язків організації роботи, пов'язаної із захистом персональних даних при їх обробці;
            
            · вносити на розгляд пропозиції щодо покращення діяльності та вдосконалення методів роботи, подавати зауваження та варіанти усунення виявлених недоліків у процесі обробки персональних даних;
            
            · одержувати пояснення з питань здійснення обробки персональних даних;
            
            · підписувати та візувати документи в межах своєї компетенції.
            
            7.5. Працівники, які безпосередньо здійснюють обробку та/або мають доступ до персональних даних у зв’язку з виконанням своїх службових (трудових) обов’язків зобов’язані дотримуватись вимог законодавства України в сфері захисту персональних даних та внутрішніх документів, щодо обробки і захисту персональних даних у базах персональних даних.
            
            7.6. Працівники, що мають доступ до персональних даних, у тому числі, здійснюють їх обробку зобов’язані не допускати розголошення у будь-який спосіб персональних даних, які їм було довірено або які стали відомі у зв'язку з виконанням професійних чи службових або трудових обов'язків. Таке зобов'язання чинне після припинення ними діяльності, пов'язаної з персональними даними, крім випадків, установлених законом.
            
            7.7.Особи, що мають доступ до персональних даних, у тому числі, здійснюють їх обробку у разі порушення ними вимог Закону України «Про захист персональних даних» несуть відповідальність згідно законодавства України.
            
            7.8. Персональні дані не повинні зберігатися довше, ніж це необхідно для мети, для якої такі дані зберігаються, але у будь-якому разі не довше строку зберігання даних, визначеного згодою суб'єкта персональних даних на обробку цих даних.
            
             
            
            8. Права суб’єкта персональних даних.
            
            8.1. Суб'єкт персональних даних має право:
            
            · знати про місцезнаходження бази персональних даних, яка містить його персональні дані, її призначення та найменування, місцезнаходження та / або місце проживання (перебування) володільця чи розпорядника цієї бази або дати відповідне доручення щодо отримання цієї інформації уповноваженим ним особам, крім випадків, встановлених законом;
            
            · отримувати інформацію про умови надання доступу до персональних даних, зокрема інформацію про третіх осіб, яким передаються його персональні дані, що містяться у відповідній базі персональних даних;
            
            · на доступ до своїх персональних даних, що містяться у відповідній базі персональних даних;
            
            · отримувати не пізніш як за тридцять календарних днів з дня надходження запиту, крім випадків, передбачених законом, відповідь про те, чи зберігаються його персональні дані у відповідній базі персональних даних, а також отримувати зміст його персональних даних, які зберігаються;
            
            · пред'являти вмотивовану вимогу із запереченням проти обробки своїх персональних даних органами державної влади, органами місцевого самоврядування при здійсненні їхніх повноважень, передбачених законом;
            
            · пред'являти вмотивовану вимогу щодо зміни або знищення своїх персональних даних будь-яким володільцем та розпорядником цієї бази, якщо ці дані обробляються незаконно чи є недостовірними;
            
            · на захист своїх персональних даних від незаконної обробки та випадкової втрати, знищення, пошкодження у зв'язку з умисним приховуванням, ненаданням чи несвоєчасним їх наданням, а також на захист від надання відомостей, що є недостовірними чи ганьблять честь, гідність та ділову репутацію фізичної особи;
            
            · звертатися з питань захисту своїх прав щодо персональних даних до органів державної влади, органів місцевого самоврядування, до повноважень яких належить здійснення захисту персональних даних;
            
            · застосовувати засоби правового захисту в разі порушення законодавства про захист персональних даних.
        </p>

    </pre>
    <br>
    <br>

    <div class="row">
    </div>

</div>


<!-- <app-extra-alert [st]="st.alert"></app-extra-alert> -->

<app-clan-footer></app-clan-footer>


<!-- 
        flex-direction: column;
        align-text: c;
        text-align: center; -->