<div class="flip-card" *ngIf="card.number" [routerLink]="[goingTo, card.name]">
    <div class="flip-card-inner">

        <!-- --- -->
        <div class="card flip-card-front">
            
            <iframe  
                [src]="urlSafe"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen=""></iframe>

            <div class="card-body">
                <p class="card-text">{{card.description[st.lang]}}</p>
            </div>

        </div>

        <!-- --- -->
        <div class="card flip-card-back">
            <div class="card-body">
                <p class="card-text">{{card.text[st.lang]}}</p>
            </div>
            <div class="card-body">
                <!-- <a class="btn btn-success" [routerLink]="['/lesson', card.name]">Go to lesson</a> -->
            </div>
        </div>

    </div>

</div>