<app-nav></app-nav>

<div class="container main">

    <div class="hero-main">
        <div class="hero-logo">
            <img class="big-logo" src="assets/img/base/Logo-Chugayster.svg" alt="" srcset="">
            <div class="hero-text-color">
                <h1>Chugayster</h1> 
                <a class="btn btn-start ">GET STARTED</a>
            </div>
        </div>

        <div class="hero-description">
            <i class="mdi mdi-view-grid-plus"></i>
            <h4>        
            The hight layer system <br>
            of architecture and build modules <br>
            for you app.
            </h4>
        </div>

        <div class="hero"></div>
    </div>

    <div class="example">
        <div class="example-left">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <app-nano-site></app-nano-site>
        <div class="example-right">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div><!-- main -->

<app-footer></app-footer>