<app-nav></app-nav> 

<p>main works!</p>

<ul class="navbar-nav mr-auto">

    <li class="nav-item active">
        <a class="nav-link" routerLink="/main">Home <span class="sr-only">(current)</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">About</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/auth/help">auth/Help</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/auth/login">auth/Login</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" routerLink="/auth/register">auth/Register</a>
    </li>

</ul>