extends layout

block content
  include includes/header.pug           

  main
    br
    h1
      a(href='') freedom 
      | & 
      a(href='') power 
      | with community !
    
    //- section#content
    p.description
      | List of games submitted to the 
    //-   a(href='http://js13kgames.com/aframe') A-Frame category
      


  include includes/footer.pug
