doctype html
//
  Copyright 2018 Dyachuk Vitaliy.
html(lang='en')
  head
    meta(charset='utf-8')
    title JavaScript Clan
    meta(name='description', content='The community of javascript developers. Lessons, decisions, best practices, cooperation.')
    meta(name="keywords" content="javascript уроки, mean, javascript portal, javascript, js, js comunity, js news, спільнота.")
    meta(name='author', content='Dyachuk Vitaliy')
    meta(name='theme-color', content='#B12A34')  
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(property='og:image', content='./icons/icon-512.png')
    link(rel='shortcut icon', href='./icons/favicon.ico')  

    //- css
    link(href='https://fonts.googleapis.com/css?family=Jura', rel='stylesheet')
    link(rel='stylesheet', href='./css/main.css')

    // TODO add manifest here
    link(rel='manifest' href='./manifest.json')

    // Add to home screen for Safari on iOS
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-status-bar-style' content='black')
    meta(name='apple-mobile-web-app-title' content='JS-CLAN')
    link(rel='apple-touch-icon' href='icons/icon-128.png')
    meta(name='msapplication-TileImage' content='icons/icon-128.png')
    meta(name='msapplication-TileColor' content='#2F3BA2')

  body
    //- include includes/header.pug

    header
      .p
        a.logo(href='https://js-clan.com')
          img(src='/img/js-clan.svg', alt='js-clan')
          .led(style="--left: 70%; --top: 20%;")
          .led(style="--left: 68%; --top: 37%;")
          .led(style="--left: 67%; --top: 55%;")
          .led(style="--left: 78%; --top: 12%;")
          .led(style="--left: 76%; --top: 41%;")

    main.main


      section#info_2.limit(style="height: 16em; overflow: hidden; position: relative; ")
        br
        h2.c Ресурс для Java Script розробників

        .menu(style="text-align: center;")
          br
          br
          a.c(href="http://localhost:4200/lessons" class="action-button shadow animate green") Уроки Java Script
          br
          br
          br
          a.c(href="#" class="action-button shadow animate yellow") Члени





      //- Style ------------------------------------------------------------------------------------------
      style.
        .info_2_shadow {
          filter: blur(15px);
          background: #222831;
          height: 8em;
          width: 100%;
          position: absolute;
          bottom: -3.5em;
          left: 0;
        }
        .bottom{
          height: 2em;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0; 
        }
        .more {
          border-bottom-left-radius: 2em;
          border-bottom-right-radius: 2em;
          width: 6em;
          height: 2em;
          margin: auto;
          background: white;
          text-align: center;
          line-height: 1em;
          color: #122b3b;
          opacity: .5;
          display: block;
          cursor: pointer;
        }
        .more:hover{
          opacity: 1;
        }
        .bage{
          position: absolute;
          right: -6em;
          top: -1em;
          background: green;
          color: white;
          border-radius: 1em;
          padding: .1em .5em;
          transform: rotate(15deg);
        }
        .info_2 {
          height: 16em; 
          overflow: hidden; 
          position: relative;
        }

      section.info_2.limit
        br
        h2.c Вітаю тебе інженер-розробник!!!
        //h1 Ctrl+Shift+Delete
        //h1 *** !!!!!  #{user}
        p.c На цему ресурсі ти знайдеш: 
        div(style="display: flex;")
          div(style="margin-left: 1em;")
            p 
              br
              ul
                li JavaScript уроки. 
                li JavaScript приклади коду, напрацювання, кращі практики. 
                li Новини, прогнози, тенденції світу веб розробки і JavaScript стеку технологій. 
                li Методи ефективного розвитку та заробітку. 
              br
        h2.c Cпільнота JS-CLAN 
        br
        p Що більше ефективно організованих інженерних груп, тим більш ефективно ми досягаємо наших цілей. Живімо для САМЕ НАШОГО успіху, сили, щастя і радості. Ми цивілізація. Ми технологія. Ми майбутнє. 
        br
        .info_2_shadow
        .bottom
          b.more(onclick="open_2(); ") more
            br
            | ▼
      script.
        const open_2 = () => {
           document.querySelector('.info_2').style.height = 'auto';
           document.querySelector('.info_2_shadow').style.display = 'none';
           document.querySelector('.bottom').style.display = 'none';

        }






      //-
      //- dummy notifications !!! important
      //-
      //-
      p.description.o4
        button#notifications.t(
              data-en="I want to receive notifications"  
              data-ua="Я хочу отримувати сповіщення" )



    include includes/footer.pug      

    //- experiment script !!!!
    // Uncomment the line below when ready to test with fake data
    //- script(src='scripts/app.js' async='')


    //- MY scrips
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', defer='')
    script(src='_pages/index.js', defer='')
    script(src='_pages/app.js', defer='')

