doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title JavaScript Clan
    meta(name='description', content='A list of A-Frame entries submitted to the js13kGames 2017 competition, used as an example for the MDN articles about Progressive Web Apps.')
    meta(name='author', content='Dyachuk Vitaliy')
    meta(name='theme-color', content='#B12A34')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='og:image', content='icons/icon-512.png')
    link(rel='shortcut icon', href='icons/favicon.ico')
    link(rel='manifest', href='manifest.json')
    title= title
    link(href='https://fonts.googleapis.com/css?family=Jura', rel='stylesheet')
    link(href='/css/lib/prism.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/main.css')
  body
    block content
