extends layout

block content
  include includes/header.pug           

  main
    br
    br
    h1 playlist for 
      a(href='') freedom  
      | & 
      a(href='') power
      | !
    
    br
    br
    br
    section#content.playlist
        .half.left
            //- NEUROFUNK DRUM&BASS MIX - DECEMBER 2017 [1080p HD] (free download)
            a.track(href='https://www.youtube.com/watch?v=gfSF7DGHD6g' target="_blank")
                img(src='/img/playlist/nf1.png', alt='NeuroFunk')

            //- Hard Neurofunk Drum & Bass Mix (N422)
            a.track(href='https://www.youtube.com/watch?v=hqVJpfFkJ9k' target="_blank")
                img(src='/img/playlist/nf2.png', alt='NeuroFunk')            

            //- Best NEUROFUNK Mix | Hard Gaming DnB 2018
            a.track(href='https://www.youtube.com/watch?v=msCS7vHFWH0' target="_blank")
                img(src='/img/playlist/nf3.png', alt='NeuroFunk')

            //- Drum and Bass - Neurofunk 2014
            a.track(href='https://www.youtube.com/watch?v=GKmvW5UrDoQ' target="_blank")
                img(src='/img/playlist/nf4.png', alt='NeuroFunk')

        .half.right
            //- Rock - Hard Rock Music Instrumental Compilation: Energetic and Motivational Songs for Work, Gym, Study 2016
            a.track(href='https://www.youtube.com/watch?v=QcHyEWQbd90' target="_blank")
                img(src='/img/playlist/rock.png', alt='Rock') 

    br
    br
    .full
        iframe(width='560' height='315' src='https://www.youtube.com/embed/TlB_eWDSMt4' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        iframe(width='560' height='315' src='https://www.youtube.com/embed/Y4ZkHtObgdw' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        iframe(width='560' height='315' src='https://www.youtube.com/embed/BtZp291h6vk' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        iframe(width='560' height='315' src='https://www.youtube.com/embed/2cGHkBeGpeU' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        iframe(width='560' height='315' src='https://www.youtube.com/embed/8o25pRbXdFw' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        iframe(width='560' height='315' src='https://www.youtube.com/embed/Uuj9GIHTTUg' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        //- music
        iframe(width='560' height='315' src='https://www.youtube.com/embed/Hcz5uRwy60E' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        iframe(width='560' height='315' src='https://www.youtube.com/embed/fjlFRo3yW5g' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
        iframe(width='560' height='315' src='https://www.youtube.com/embed/B0heWo1XGhc' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')



        hr
        
        //- iframe(width='560' height='315' src='https://www.youtube.com/embed/QcHyEWQbd90' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')



       


  include includes/footer.pug


